<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New request for account at GIMI Portal, <%= @user.username %></h1>
    <p>
      Please create an account for user <%= @user.username %>,
      set account to approved, and send an email to <%= @user.email %>.<br.>
    </p>
  </body>
</html>
