<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to GIMI, <%= @user.username %></h1>
    <p>
      Your account request has been sent to the GIMI admin and your account is being created.
    </p>
    <p>
      You will receive an email from admin@umass.edu when your account is ready.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
